/* 스크롤 */
/* Firefox */
html {scrollbar-width: 5px;;scrollbar-color: #222 #f1f1f1;}
/* Opera */
html::-o-scrollbar {width: 5px;}/*스크롤바 크기*/
html::-o-scrollbar-thumb {background-color: #fff;border-radius: 5px;}/*스크롤 드래그바*/
html::-o-scrollbar-thumb:hover {background-color: #555;}
/* Chrome, Safari, Edge 등 웹킷 기반 브라우저 */
::-webkit-scrollbar {width: 10px;}/*스크롤바 크기*/
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);}/*스크롤바 배경*/
::-webkit-scrollbar-thumb {background-color: #603F83;border-radius: 5px;}/*스크롤 드래그바*/
::-webkit-scrollbar-thumb:hover {background-color: #555;}
html, body {scroll-behavior:smooth; cursor: none;}
#mouse {
    width:35px; height:35px; 
    /* border:2px solid #fff; */
    background:rgba(96, 63, 131, 0.7);
    border-radius:50%;
    /* 화면 최상단 스크롤 상관없이 고정 마우스 따라다니는 css */
    position:fixed;left:0; top:0; z-index:999;
                /* 마우스 커서가 중앙에 배치하도록 하는 css */
    transform: translate(-50%, -50%);
    /* 필수속성: 마우스 따라다니는 이미지 만들경우 */
    /* (위)링크, 버튼 등 선택이 안되는 문제 해결 */
    pointer-events:none;
}
header {
    position:fixed; top:0; left:0;
    z-index:999;
    width:100vw; padding:0 30px;
    border-bottom:1px solid #fff;
}
header nav {
    /* padding:5px 20px; background:#603F83; */
    display:flex; flex-flow:row nowrap; justify-content:flex-end;
}
header nav a {
    font-family: 'Montserrat', sans-serif;
    line-height:50px; color:#fff; font-weight:500;
    display:block;
    padding:5px 30px;
    transition:all 0.7s;
}
header nav a:hover {
    font-weight:600; background:#C7D3D4;
}
/* header nav .active {color:#603F83;} */
aside {
    position:fixed; top:200px; left:-130px;
    z-index:999;
}
aside h1 {
    color: #FFF;
    font-family: Montserrat; font-size:1.125rem; font-weight:400;
    letter-spacing:0.43125rem;
    transform:rotate(90deg);
}
#wrap {width:100%;}
#wrap .section {height:100%; overflow-y:hidden;}
#wrap #home {
    display:flex; flex-flow:column nowrap; justify-content:center;
    text-align:center;
    height:800vh; background:#603F83;
}
#wrap #home .ani {
    position:absolute; top:100px; right:100px;
    animation:rotate 13s alternate infinite;
} 
#wrap #home .title {
    display:flex; flex-flow:column nowrap; align-items:center;
    margin-top:250px;
}
#wrap #home .title .subtitle {
    width:810px;
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap #home .title .subtitle .sub {
    font-family: 'Montserrat', sans-serif;
    font-size:1.25rem; font-weight:300;
    color:#fff;
}
#wrap #home .title .subtitle .sub em {
    font-family: 'Montserrat', sans-serif;
    font-size:1.25rem; font-weight:500;
    color:#fff;
}
#wrap #home .title .subtitle .line {
    content:''; width:200px; height:1px;
    display:inline-block; background:#fff;
    margin-left:10px;
}
#wrap #home .title h1 {
    font-family: Montagu Slab;
    font-size:10rem;
    color:#fff;
    margin-bottom:30px;
}
#wrap #home .title h2 {
    color: #FFF;
    font-family: Montserrat; font-size:1.333rem; font-weight:400;
}
#wrap #home h2 {
    font-weight:600; color:#fff;
}
#wrap #home .scroll {
    position:absolute; bottom:5px; left:50%;
    transform:translate(-50%,-50%);
    display:flex; flex-flow:column nowrap; align-items:center;
}
#wrap #home .scroll p {
    color:#fff; 
    margin-bottom:10px;
}
#wrap #home .mouse {
    content:''; display:block;
    width: 30px; height: 50px; 
    border:2px solid #fff; border-radius:50px;
    display:flex; justify-content:center;
}
#wrap #home .scroll .wheel {
    content:''; display:block;
    width: 4px; height: 12px;
    border-radius:50px; background:#fff;
    margin-top:7px;
    animation:wheel 0.8s alternate infinite;
}
/* 텍스트 애니메이션 */
@keyframes rotate {
    0% {}
    100% {transform:rotate(360deg)}
}
/* 마우스휠 애니메이션 */
@keyframes wheel {
    0% {transform:translateY(-2px)}
    100% {transform:translateY(3px)}
}
/* about */
#wrap #about {
    /* background:rgba(96, 63, 131, 0.7); */
    height:100vh;
}
#wrap #about .title {
    margin-bottom:70px; text-align:center;
    /* margin-top:70px; */
}
#wrap #about .title h1 {
    color: #603F83;
    font-family: Montserrat; font-size: 3.125rem; font-weight:600;
    margin-bottom:10px; margin-top:70px;
}
#wrap #about .title h2 {line-height:27px;}
#wrap #about .title h2 em {
    color:#603F83; font-weight:500;
}
#wrap #about .box {
    display:flex; flex-flow:row nowrap; 
    justify-content:center;
    /* justify-content:space-around; align-items:flex-start; */
}
#wrap #about .box .left {
    display:flex; flex-flow:column nowrap;
    margin-top:15px; margin-right:70px;
}
#wrap #about .box .left h3 {
    font-family: Montserrat;
    font-size: 2.3125rem; font-weight:500;
    color:#603F83; margin-top:-20px;
    margin-bottom:20px;
}
#wrap #about .left .info > p {
    font-family: Montserrat;
    font-size:1.125rem; line-height:35px;
    font-weight:600;
}
/* 키워드 */
#wrap #about .box .left .info .keyword {
    display:flex; flex-flow:row nowrap;
}
#wrap #about .box .left .info .keyword p {
    margin-right:10px; line-height:35px;
    font-size:1.125rem; font-weight:600;
}
#wrap #about .box .right {display:flex;}
#wrap #about .box .contents {
    text-align:left; margin-right:70px;
}
#wrap #about .box .contents div {margin-bottom:40px;}
#wrap #about .box .contents div h3 {
    font-family: Montserrat; 
    font-size: 1.3125rem; font-weight: 600;
    color: #603F83; margin-bottom:20px;
}
#wrap #about .box .contents div .info {}
#wrap #about .box .contents div .info p {
    display:flex; flex-flow:row nowrap;
    margin-bottom:15px; font-size:1.125rem; 
}
#wrap #about .box .contents div .info p * {
    font-family: Montserrat;
    font-size:1.125rem; line-height:-0.02rem;
}
#wrap #about .box .contents div .info p:last-child {margin-bottom:0;}
#wrap #about .box .contents div .info p em {
    margin-right:50px;
    font-weight:600;
}
#wrap #about .box .contents div .info p span {}
/* 프로필 */
#wrap #about .box .contents .c1 .info > p em {margin-right:20px;}
#wrap #about .box .contents .c1 .info .contact {
    display:flex; flex-flow:row nowrap;
}
#wrap #about .box .contents .c1 .info .contact p em {
    margin-right:20px;
}
#wrap #about .box .contents .c1 .info .contact p:first-child {margin-right:50px;}
#wrap #about .box .contents .c1 .info > p em {margin-right:20px;}
/* 자격증, 교육 */
#wrap #about .box .contents .c3 .info p >* {line-height:27px;}
#wrap #about .box .contents .c2 .info p em, 
#wrap #about .box .contents .c3 .info p em {width:60px;}
#wrap #about .box .contents .c2 .info p span, 
#wrap #about .box .contents .c3 .info p span {font-size:1rem;}
#wrap #about .box .contents .c4 .info p {margin-right:20px;}
#wrap #about .box .contents .c4 .info p:last-child {margin-right:0;}
#wrap #about .box .skill {}
#wrap #about .box .skill h3 {
    font-family: Montserrat; font-size: 1.3125rem; font-weight: 600;
    color: #603F83; margin-bottom:20px;
}
#wrap #about .box .skill .s_wrap {
    display:flex; flex-flow:row nowrap;
}
#wrap #about .box .skill .s_wrap img {margin-right:20px;}
/* 웹리디자인 */
#wrap #web_redesign {/* position:relative; */ height:100vh;}
#wrap #web_redesign h1 {
    color:transparent; -webkit-text-stroke: 2px #603F83;
    font-size:7rem; font-weight:600;
    display:flex; align-items:center; margin-left:70px;
    transition:all 0.7s;
}
#wrap #web_redesign h1:hover {
    -webkit-text-stroke:none;
    color:#603F83;
}
#wrap #web_redesign h1::before {
    content:''; display:inline-block;
    width:100px; height:100px; border-radius:50px;
    background:rgba(96, 63, 131, 0.3);
    margin-right:-50px; margin-top:-50px; 
}
#wrap #web_redesign #web {
    /* background:rgba(255, 255, 255, 0.5); */
    max-width:1440px; margin:0 auto;
}
#wrap #web_redesign #web .swiper-pagination-bullet {background-color:#603F83;}
#wrap #web_redesign #web .swiper-button-prev {}
#wrap #web_redesign #web .swiper-button-next {}
.swiper-button-prev:after, .swiper-button-next:after {color:#603F83;}
#wrap #web_redesign #web .swiper-wrapper {width:1200px; margin:0 auto;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide {
    display:flex; flex-flow:row nowrap; align-items:flex-end;
    padding:100px 0;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .left {
    padding:10px; 
    max-width:800px; height:450px; 
    border-radius:30px; 
    margin-right:50px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .left .box {
    height:100%; overflow-y:auto;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .left img {
    width:100%; 
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .left img:hover {}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right {width:500px;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt {margin-bottom:30px;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt h2 {
    /* font-family: Montserrat; */
    font-size:1.333rem; font-weight:600;
    /* padding:30px 0; */ /* border-bottom:1px solid #222; */
    margin-bottom:20px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc {}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p {
    display:flex; flex-flow:row nowrap;
    /* margin-bottom:10px;  */
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p >* {
    /* color:#fff; */
    font-family: Montserrat; font-size:0.875rem;
    letter-spacing:-0.02rem; line-height:30px;

}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p em {
    width:50px; margin-right:10px;
    font-weight:600;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc p span {}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc > p:nth-child(3) em {
    /* width:70px; margin-right:50px; */
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc > p:nth-child(3) > span {
    line-height:30px; width:300px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc > p:nth-child(3) > em {
    line-height:30px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri {
    display:flex; flex-flow:row nowrap;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri * {
    font-family: Montserrat; font-size:0.875rem;
    letter-spacing:-0.02rem; line-height:30px; 

}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri p {
    width:50px; margin-right:10px;
    font-weight:600;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri .contents {}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .txt .desc .contri .contents span:first-child {
    margin-right:30px;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .site {display:flex;}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .site a {
    display:block;
    width:120px; padding:10px 0; margin-right:10px;
    font-family: Montserrat; font-size:0.875rem; 
    text-align:center;
    color:#603F83; border:1px solid #603F83; border-radius:10px;;
    transform:scale(1); transition:all 0.5s linear;
}
#wrap #web_redesign #web .swiper-wrapper .swiper-slide .right .site a:hover {
    background: #603F83; color:#fff; border:none;
    transform:scale(1.1);
}
/* 프로젝트 */
#wrap #project_design {height:100vh; width:100%; position:relative; }
#wrap #project_design h1 {
    color:transparent; -webkit-text-stroke: 2px #603F83;
    font-size:8rem; font-weight:600;
    display:flex; align-items:center; margin-left:100px;
    transition:all 0.7s;
}
#wrap #project_design h1::before {
    content:''; display:inline-block;
    width:100px; height:100px; border-radius:50px;
    background:rgba(96, 63, 131, 0.3);
    margin-right:-50px; margin-top:-50px; 
}
#wrap #project_design h1:hover {
    -webkit-text-stroke:none;
    color:#603F83;
}
#wrap #project_design #project {
    max-width:1440px; margin:0 auto;
}
#wrap #project_design #project .swiper-wrapper {
    padding:100px 0; padding-left:270px;
   /*  max-width:1000px; */ margin:0 auto;
    display:flex; justify-content:center;
}
#wrap #project_design #project .swiper-wrapper .swiper-slide {
    width:250px;; height:500px; overflow:hidden;
    margin-right:36px; border-radius:10px;
    box-shadow: 0 0 10px rgba(104,104,104,.5);
}
#wrap #project_design #project .swiper-wrapper .swiper-slide:last-child {margin-right:0;}
#wrap #project_design #project .swiper-wrapper .swiper-slide img {
    width:100%;
    transform:scale(1);
    transition:all 0.5s linear;
}
#wrap #project_design #project .swiper-wrapper .swiper-slide:hover img {
    filter:none; transform:scale(1.1);
}
#wrap #project_design .browser_on  {
    display:none;
    width:100%; height:100%; text-align:center;
    background:rgba(0, 0, 0, 0.7);
    z-index:9999;
    position:absolute; top:50%; left:50%;
    transform:translate(-50%, -50%);
}
#wrap #project_design .browser_on > img {
    width:65%; height:100%;
    box-shadow: 0 0 10px rgba(104,104,104,.5);
}
#wrap #project_design .browser_on .gnb {
    position:absolute; top:2.3%; left:23%;
    display:flex; 
}
#wrap #project_design .browser_on ul li {
    display:flex; align-items:center; justify-content:center;
    padding:7px 10px; border-radius:8px 8px 0 0;
    position:relative;
}
#wrap #project_design .browser_on ul li a {font-size:0.875rem;}
/* #wrap #project_design .browser_on ul  */.on {
    background:#fff;
}
#wrap #project_design #project .browser_on ul li::after {
    content:''; display:inline-block;
    width:1px; height:70%; background:#000;
    position:absolute; top:50%; right:0;
    transform:translateY(-50%);
}
#wrap #project_design .browser_on ul li:last-child::after {display:none;}
#wrap #project_design .browser_on .close {
    position:absolute; right:18.5%; top:2%;
    width:20px; height:20px; 
    transform:scale(1); transition:all 0.5s;
    background:none;
}
#wrap #project_design .browser_on .close:hover {transform:scale(1.5);}
#wrap #project_design .browser_on .close img {width:100%;}
#wrap #project_design .browser_on p {
    position:absolute; top:6.8%; left:23.5%;
    font-size:0.75rem;
}
#wrap #project_design .browser_on #project_mac {
    width:65%; height:85%;
    position:absolute; top:100px; left:50%;
    transform:translateX(-50%);
    overflow-y:auto;
}
#wrap #project_design .browser_on #project_mac .swiper-wrapper {}
#wrap #project_design .browser_on #project_mac .swiper-wrapper .swiper-slide {}
#wrap #project_design .browser_on #project_mac .swiper-wrapper .swiper-slide img {width:100%;}

/* 디자인 영역 */
#wrap #graphic_design {height:100%;}
#wrap #graphic_design h1 {
    color:transparent; -webkit-text-stroke: 2px #603F83;
    font-size:8rem; font-weight:600;
    display:flex; align-items:center; margin-left:100px;
}
#wrap #graphic_design h1::before {
    content:''; display:inline-block;
    width:100px; height:100px; border-radius:50px;
    background:rgba(96, 63, 131, 0.3);
    margin-right:-50px; margin-top:-50px; 
}
#wrap #graphic_design h1:hover {
    -webkit-text-stroke:none;
    color:#603F83;
}
/* 상세페이지 디자인 */
#wrap #graphic_design .detail_design {
    position:relative;
    display:flex;
    /* max-width:1440px; margin:0 auto; */
    padding:50px 0;
}
#wrap #graphic_design .detail_design h2 {
    font-family: Montserrat; font-size:2rem;
    font-weight:600; color:#603F83;
    margin-left:100px; margin-right:100px;
}
#wrap #graphic_design .detail_design #detail {}
#wrap #graphic_design .detail_design #detail .swiper-wrapper {}
#wrap #graphic_design .detail_design #detail .swiper-wrapper .swiper-slide  {
    width:250px;; height:500px; overflow:hidden;
    margin-right:50px; border-radius:10px;
    box-shadow: 0 0 10px rgba(104,104,104,.5);
    background:#f1f1f1;
}
#wrap #graphic_design .detail_design #detail .swiper-wrapper .swiper-slide:last-child {margin-right:0;}
#wrap #graphic_design .detail_design #detail .swiper-wrapper .swiper-slide img {
    width:100%;
    filter:grayscale(100%); transition:all 0.5s linear;
}
#wrap #graphic_design .detail_design #detail .swiper-wrapper .swiper-slide:hover img {
    filter:none; 
}
/* 상세페이지 팝업 */
#wrap #graphic_design .detail_popup  {
    display:none;
    width:100%; height:100%; text-align:center;
    background:rgba(0, 0, 0, 0.7);
    z-index:9999;
    position:absolute; top:50%; left:50%;
    transform:translate(-50%, -50%);
}
#wrap #graphic_design .detail_popup > img {
    width:65%; height:100%;
    box-shadow: 0 0 10px rgba(104,104,104,.5);
}
#wrap #graphic_design .detail_popup .d_gnb {
    position:absolute; top:2.4%; left:23%;
    display:flex; 
}
#wrap #graphic_design .detail_popup ul li {
    display:flex; align-items:center; justify-content:center;
    padding:7px 10px; border-radius:8px 8px 0 0;
    position:relative;
}
#wrap #graphic_design .detail_popup ul li a {font-size:0.875rem;}
#wrap #graphic_design .detail_popup ul li::after {
    content:''; display:inline-block;
    width:1px; height:70%; background:#aaa;
    position:absolute; top:50%; right:0;
    transform:translateY(-50%);
}
#wrap #graphic_design .detail_popup ul li:last-child::after {display:none;}
#wrap #graphic_design .detail_popup .d_close {
    position:absolute; right:18.5%; top:2%;
    width:20px; height:20px; 
    transform:scale(1); transition:all 0.5s;
    background:none;
}
#wrap #graphic_design .detail_popup .d_close:hover {transform:scale(1.5);}
#wrap #graphic_design .detail_popup .d_close img {width:100%;}
#wrap #graphic_design .detail_popup p {
    position:absolute; top:6.8%; left:23.5%;
    font-size:0.75rem;
}
#wrap #graphic_design .detail_popup #detail_mac {
    width:65%; height:85%;
    position:absolute; top:100px; left:50%;
    transform:translateX(-50%);
    overflow-y:auto;
}
#wrap #graphic_design .detail_popup #detail_mac {}
#wrap #graphic_design .detail_popup #detail_mac .swiper-wrapper .swiper-slide {}
#wrap #graphic_design .detail_popup #detail_mac .swiper-wrapper .swiper-slide img {width:100%;}

/* sns, banner */
#wrap #sns_banner {position:relative;/*  width:100%; margin:0 auto; */}
#wrap #sns_banner div h2 {
    font-family: Montserrat; font-size:2rem;
    font-weight:600; color:#603F83;
    margin-left:100px; margin-right:100px;
}
#wrap #sns_banner > div > div {
    display:flex; justify-content:space-between;
    /* max-width:1440px; margin:0 auto; */
    padding:50px 0;
} 
#wrap #sns_banner > div .swiper .swiper-wrapper {
    display:flex; flex-flow:row wrap;
    width:1200px; row-gap:30px;
}
#wrap #sns_banner .sns_design #sns .swiper-wrapper .swiper-slide  {
    position:relative;
    width:220px; height:220px; overflow:hidden;
    background:#f1f1f1;
    margin-right:30px; border-radius:10px;
    box-shadow: 0 0 10px rgba(104,104,104,.5);
}
#wrap #sns_banner .banner_design #banner .swiper-wrapper .swiper-slide  {
    position:relative;
    width:500px; /* height:150px; */ overflow:hidden;
    background:#f1f1f1;
    margin-right:30px; border-radius:10px;
    box-shadow: 0 0 10px rgba(104,104,104,.5);
}
#wrap #sns_banner .swiper-slide a {
    display:block; width:100%;
}
#wrap #sns_banner .swiper-slide img {
    width:100%; height:100%; filter:grayscale(100%);
    transition:all 0.7s;
}
#wrap #sns_banner .swiper:hover .swiper-slide img {filter:grayscale(0);}
/* sns, banner 이미지 팝업 */
.img_popup {
    position: absolute; top:0; left:0; 
    width:100%; height:100%; 
    background-color: rgba(0,0,0,0.7); 
    display:none; transition: all 0.3s; 
    z-index: 10000;}
.img_popup.active {/* display:block; */ opacity: 1;}
.img_popup .popup_inner {
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%); 
    width:40%;
}
.img_popup .popup_inner > img {
    display: block; 
    width:100%; margin:0 auto;
}
.img_popup .popup_inner .close_btn {
    display: flex; justify-content: center; align-items: center;
    position: absolute; top: -36px; left: 50%; 
    transform: translateX(-50%); 
    width: 70px; height: 70px; border-radius: 50%; 
    background-color:#fff; /* color: #fff;  */
}
.img_popup .popup_inner .close_btn img {transition: all 0.3s;}
.img_popup .popup_inner .close_btn:hover img {transform: rotate(180deg);}